{% extends "base.html" %}
{% set active_page = "index" %}
{% set content_layout = "wide" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>
    Decoding facial expressions
  </h1>
  <div class="container-description">
    <div class="container" id="description">
      <center>
    <p>Fexmetrica is an open source Matlab toolbox to preprocess, analyze, and plot facial expression data aquired using Facet from <a href='http://emotient.com'>emotient</a>.</p>    
      </center>
    </div>
  </div>
</div>

{% endblock content %}
  
